         .parent{
            background-color:rgb(161, 222, 222);
            width:800px;
            height:1195px;
            place-items:center;
            border-width:10px;
            border-radius:80px;
            border-style:solid;
            border-color: rgb(170, 170, 200);
        }

        body{
            display:flex;
            justify-content:center;
            background-color: rgb(222, 184, 244);
          
        }
        
        .heading{
            color:aliceblue;
            background-color:rgb(122, 184, 195);
            width:600px;
           
            text-align:center;
            height:150px;
            border-radius:70px;
            border-style:inset;
            border-width:20px;
            border-color:rgb(160, 160, 221);
            text-shadow:1px 1px 2px grey;
        }
        button{
            background-color:rgb(160, 160, 221);
            border-radius:20px;
            border-color:rgb(160, 160, 221); 
            width:150px;
            height:100px;
            margin-bottom: 10px;
            margin-left:35px;
            font-size:20px;
            font-weight:500;
            color:white; 
            font-family: Georgia, 'Times New Roman', Times, serif;
            cursor: pointer;
        }
        .sub{ 

            margin:20px;
           
        }
        .card{
            font-size:9px;
            font-size: 20px;
            text-shadow:1px 1ox 2px grey;
            border-radius:20px;
            background-color:rgb(165, 160, 221);
            color:white;
            padding:20px;    
            margin:20px ; 
        }
         .options{
            border-radius:50px;
            background-color:rgb(165, 160, 221);
            height:50px;
            width:50px;
            justify-content:center;
            display:flex;
            align-items:center;
            box-shadow: 3px 3px 5px grey; 
            cursor: pointer;   
            margin-top:490px;
        }
        .options p{
            font-size:30px;
            color:white;
           cursor:pointer;
        }

        p{ 
            color:white;
            font-size:15px;
            text-shadow: 1px 1px 1px grey;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
           .list{
            
            color:white;
            width:700px;
            border-radius:20px;
            padding:20px;
            margin:20px;
            font-size:18px;
            height:30px;
            
           }
    
          .cur{
            background-color:rgb(122, 184, 195);
            justify-content:center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-shadow: 1px 1px 2px grey; 
            margin:20px;
            width:700px;
            height:60px;
            display:flex;
            justify-content: center;
            align-items: center;
            border-radius:10px;
            border:solid;
            font-size: 25px;
           }
              .exp{
                background-color:rgb(191, 187, 245);
                color:white;
                justify-content:left;
                display:flex;
                align-items:left;
                font-family: Georgia, 'Times New Roman', Times, serif;
                padding:10px;
                height:40px;
                border-radius:10px;
                margin:20px;
                font-size:20px;
                text-shadow: 1px 1px 2px grey;;
                box-shadow: 1px 1px 2px grey;
              }